﻿@model IEnumerable<FurnitureForRent.Models.HomeSearchViewModel>
@if (ViewBag.Message != null)
{
    <div class="alert alert-warning alert-dismissible fade in ui-draggable " role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>@ViewBag.Message</strong>
    </div>
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5">

                @if (Model.Count() > 0)
                {
                    <div id="gridContent">
                        @{
                    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 20,
                    selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContentInvoice");
                    grid.Pager(WebGridPagerModes.NextPrevious);
                        }
                        @grid.GetHtml(tableStyle: "webGrid",
            headerStyle: "header",
            htmlAttributes: new { id = "DataTable" },
            alternatingRowStyle: "alt",
            selectedRowStyle: "select", mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",
            columns: grid.Columns(
                      grid.Column("FurnitureId", "Full Name"),
                      grid.Column("FurnitureCode", "Mobile Number"),
                      grid.Column("RentPerMonth", " Email Id"),

                         grid.Column("addtocart", format: (item) =>
                         {
                             var links = Html.ActionLink("Add to cart", "AddToCart", "Home", new { id = item.FurnitureId }, null);
                             return Html.Raw(links.ToString());
                         })
                      ))
                    </div>
                }
                else
                {
                    <div class="oaerror info">
                        <span> No data found.</span>
                        <div class="col-xs-3 text-right">
                            <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>