﻿@model IEnumerable<FurnitureForRent.Models.HomeSearchViewModel>
@if (ViewBag.Message != null)
{
    <div class="alert alert-warning alert-dismissible fade in ui-draggable " role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>@ViewBag.Message</strong>
    </div>
}
<div class="container">
    <div class="well well-sm">
        <strong>Category Title</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th-list">
                </span>List
            </a> <a href="#" id="grid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span>Grid
            </a>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div id="products" class="row list-group">
            <div class="item  col-xs-12 col-lg-12 fa-align-center">
                <div class="thumbnail">
                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            @Html.DisplayFor(modelItem => item.FurnitureCode)
                        </h4>
                        <p class="group inner list-group-item-text">
                            @Html.DisplayFor(modelItem => item.Category)
                        </p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    Rent Per Month:(₹) @Html.DisplayFor(modelItem => item.RentPerMonth)
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    Dimension: @Html.DisplayFor(modelItem => item.Dimension)
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    Color: @Html.DisplayFor(modelItem => item.Color)
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    Material: @Html.DisplayFor(modelItem => item.Material)
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    Specification: @Html.DisplayFor(modelItem => item.Specification)
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href="~/User/User/AddToCart">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>