﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="container">
    <div class="row message">
        <div class="col-sm-12 col-md-12">
            <div class="alert alert-info">

                <span class="glyphicon glyphicon-info-sign"></span> <strong>Info Message</strong>
                <hr class="message-inner-separator">
                <p class="text-danger">
                <h1> Oops :( </h1>
                    <h3>Some error occured!</h3>
                </p>
            </div>
        </div>
    </div>
</div>