﻿@model FurnitureForRent.Models.SignInSignUpViewModel
@if (ViewBag.Message != null)
{
    <div class="alert alert-warning alert-dismissible fade in ui-draggable " role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>@ViewBag.Message</strong>
    </div>
}

<div class="image-container set-full-height" style="background-image: url('/assets/img/wizard-city.jpg')">
    <!--   Big container   -->
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="card wizard-card" data-color="green" id="wizard">

                        <div class="wizard-header">
                            <h3 class="wizard-title">
                                Rent Furniture for a better LifeStyle!
                            </h3>
                            <h5>Glad that you came<i class="fa-smile-o"></i>.</h5>
                        </div>

                        <div class="wizard-navigation">
                            <ul>
                                <li><a data-toggle="tab" id="register">Sign Up</a></li>
                                <li><a data-toggle="tab" id="login">Login</a></li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            @using (Html.BeginForm("SignUp", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="tab-pane" id="signUp">
                                    <div class="row">
                                        <h4 class="info-text"> Let's start with the basic information</h4>

                                        <div class="col-sm-6">
                                            <div class="input-group  ">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">face</i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    @Html.Label("Full Name(required)", new { @class = "control-label" })
                                                    @Html.TextBoxFor(m => m.SignUpViewModel.FullName, new { @class = "form-control", id = "fullname", @type = "text", @name = "firstname" })
                                                    @Html.ValidationMessage("", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="input-group  ">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">record_voice_over</i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    @Html.Label("Password(required)", new { @class = "control-label" })
                                                    @Html.TextBoxFor(m => m.SignUpViewModel.Password, new { @class = "form-control", id = "password", @type = "password", @name = "password" })
                                                    @Html.ValidationMessage("", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <div class="input-group ">
                                                <span class="input-group-addon">
                                                    <i class="fa-mobile"></i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    @Html.Label("Mobile Number(required)", new { @class = "control-label" })
                                                    @Html.TextBoxFor(m => m.SignUpViewModel.MobileNumber, new { @class = "form-control", id = "mobileNumber", @type = "phone", name = "mobile" })
                                                    @Html.ValidationMessage("", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="input-group ">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">email</i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    @Html.Label("Email(required)", new { @class = "control-label" })
                                                    @Html.TextBoxFor(m => m.SignUpViewModel.EmailId, "email", new { @class = "form-control", id = "email", @type = "email" })
                                                    @Html.ValidationMessage("", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='submit' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Sign Up' />
                                    </div>
                                </div>}

                            @using (Html.BeginForm("SignIn", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="tab-pane" id="signIn">
                                    <div class="row">
                                        <h4 class="info-text">Give your login details here!</h4>
                                        <div class="col-sm-10 ">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">email</i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    @Html.Label("Email(required)", new { @class = "control-label" })
                                                    @Html.TextBoxFor(m => m.SignInViewModel.UserName, "email", new { @class = "form-control", id = "email", @type = "email" })
                                                    @Html.ValidationMessage("", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">record_voice_over</i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    @Html.Label("Password(required)", new { @class = "control-label" })
                                                    @Html.TextBoxFor(m => m.SignInViewModel.Password, new { @class = "form-control", id = "password", @type = "password", @name = "password" })
                                                    @Html.ValidationMessage("", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wizard-footer">
                                            <div class="pull-right">
                                                <input type='submit' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Sign In' />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='submit' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Sign In' />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                 <!-- wizard container -->
                            }
                        </div>
                    </div>
                    <!-- end row -->
                    <!--  big container -->
                </div>
                <div class="footer">
                    <div class="container text-center">
                        Made with <i class="fa fa-heart heart"></i>
                    </div>
                </div>
            </div>

            <!--   Core JS Files   -->
            <script src="assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
            <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="assets/js/jquery.bootstrap.js" type="text/javascript"></script>
            <!--  Plugin for the Wizard -->
            <script src="assets/js/material-bootstrap-wizard.js"></script>
            <!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
            <script src="assets/js/jquery.validate.min.js"></script>
        </div>