﻿.webGrid {
    margin: 4px;
    border-collapse: collapse;
    width: 150%;
    background-color: white;
    font-weight: normal;
    height: 15px;
}

.header {
    background-color: #C1D4E6;
    font-weight: bold;
    color: #FFF;
    font-weight: normal;
}

.webGrid th, .webGrid td {
    border: 1px solid #97bcdc;
    padding: 7px;
    font-weight: normal;
}

.alt {
    background-color: #E4E9F5;
    color: #000;
}

.gridHead a:hover {
    text-decoration: none;
    font-weight: normal;
}

.description {
    width: auto;
    font-weight: normal;
}

.select {
    background-color: #71857C;
    padding: 30px;
}

.hiddem {
    display: none;
}