﻿<div class="sidebar-wrapper">
    <ul class="nav">
        <li>
            @Html.ActionLink(" Orders and Payments", "OrdersAndPayments", "Admin", new { @class = " ti-panel dashboard" })
            <p></p>
        </li>
        <li class="active">
            @Html.ActionLink(" Your Profile", "AdminProfile", "Admin", new { @class = " ti-user dashboard " })
        </li>
        <li>
            @Html.ActionLink("Address", "Address", "Admin", new { @class = " ti-view-list-alt dashboard" })
        </li>
        <li>
            @Html.ActionLink(" Furniture", "DisplayFurniture", "Admin", new { @class = " ti-view-list-alt dashboard " })
        </li>
        <li>@Html.ActionLink(" Add Furniture", "AddFurniture", "Admin", new { @class = " ti-pencil-alt2 dashboard " })</li>
        <li>
            @Html.ActionLink(" All Users", "Users", "Admin", new { @class = " ti-view-list-alt dashboard" })
        </li>
        <li>
            @Html.ActionLink(" Add Admin", "AddAdmin", "Admin", new { @class = " ti-pencil-alt2 dashboard" })
        </li>
        <li>
            @Html.ActionLink(" Reports", "Report", "Admin", new { @class = " ti-bell dashboard" })
        </li>
    </ul>
</div>