﻿@model FurnitureForRent.Areas.Admin.Models.AddFurnitureViewModel
@if (ViewBag.Message != null)
{
    <div class="alert alert-warning alert-dismissible fade in " role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>@ViewBag.Message</strong>
    </div>
}
<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <!--
            Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
            Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        -->
        @Html.Partial("_Dashboard")
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">User Profile</a>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>
        <!--   Big container   -->
        <div>
            <div>
                <div class="content">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <!--      Wizard container        -->
                            <div class="wizard-container">
                                <div class="card wizard-card" data-color="green" id="wizard">
                                    <div class="wizard-navigation">
                                        <ul>
                                            <li><a data-toggle="tab" id="register">Give Details of furniture</a></li>
                                        </ul>
                                    </div>

                                    <div class="tab-content">
                                        @using (Html.BeginForm("AddFurniture", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="tab-pane" id="signUp">
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-offset-1">
                                                        <div class="input-group col-sm-6 ">
                                                            <div class="form-group label-floating">
                                                                @Html.Label("Furniture Code(required)", new { @class = "control-label" })
                                                                @Html.TextBoxFor(m => m.FurnitureCode, new { @class = "form-control", id = "fullname", @type = "text", @name = "firstname" })
                                                                @Html.ValidationMessage("", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="input-group  col-sm-6">
                                                            <div class="form-group label-floating">
                                                                @Html.Label("Refundable Deposit(required)", new { @class = "control-label" })
                                                                @Html.TextBoxFor(m => m.RefundableDeposit, new { @class = "form-control", id = "refundable-deposit", @type = "text" })
                                                                @Html.ValidationMessage("", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="input-group col-sm-6">
                                                            <div class="form-group label-floating">
                                                                @Html.Label("Rent Per Month(required)", new { @class = "control-label" })
                                                                @Html.TextBoxFor(m => m.RentPerMonth, new { @class = "form-control", id = "rent-per-month", @type = "text" })
                                                                @Html.ValidationMessage("", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="input-group col-sm-6">
                                                            <div class="form-group label-floating">
                                                                @Html.Label("Material", new { @class = "control-label" })
                                                                @Html.TextBoxFor(m => m.Material, new { @class = "form-control", id = "material", @type = "text" })
                                                                @Html.ValidationMessage("", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="input-group col-sm-6">
                                                            <div class="form-group label-floating">
                                                                @Html.Label("Color", new { @class = "control-label" })
                                                                @Html.TextBoxFor(m => m.Color, "color", new { @class = "form-control", id = "color", @type = "text" })
                                                                @Html.ValidationMessage("", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="input-group col-sm-6 ">
                                                            <div class="form-group label-floating">
                                                                @Html.Label("Dimension", new { @class = "control-label" })
                                                                @Html.TextBoxFor(m => m.Dimension, "dimension", new { @class = "form-control", id = "dimension", @type = "text" })
                                                                @Html.ValidationMessage("", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="input-group col-sm-6">
                                                            <div class="form-group label-floating">
                                                                @Html.Label("Specification", new { @class = "control-label" })
                                                                @Html.TextBoxFor(m => m.Specification, "specification", new { @class = "form-control", id = "specification", @type = "text" })
                                                                @Html.ValidationMessage("", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="input-group col-sm-6">
                                                            <div class="form-group label-floating">
                                                                @Html.Label("Category(Required)", new { @class = "control-label" })
                                                                @Html.TextBoxFor(m => m.Category, "category", new { @class = "form-control", id = "category", @type = "text" })
                                                                @Html.ValidationMessage("", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        @*<div class="input-group col-sm-6">
                                                                <div class="form-group label-floating">
                                                                    @Html.Label("Image(Required)", new { @class = "control-label" })
                                                                    @Html.HiddenFor(m => m.Image)
                                                                    <span id="UploadStatus" style="font-family:comic sans ms;color:white;margin-left:40px;"></span><br />
                                                                    <input style="margin-left:40px;cursor:pointer;" type="file" name="file" id="file" />
                                                                    <input type="submit" style="margin-left:40px;cursor:pointer;" id="upload" value="Upload" />
                                                                    @Html.ValidationMessage("", new { @class = "text-danger" })
                                                                </div>
                                                            </div>*@
                                                    </div>
                                                </div>

                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-info btn-fill btn-wd">Add Furniture</button>
                                                </div>
                                            </div>                                        }
                                    </div>
                                    <!-- end row -->
                                    <!--  big container -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery.bootstrap.js" type="text/javascript"></script>
    <!--  Plugin for the Wizard -->
    <script src="assets/js/material-bootstrap-wizard.js"></script>
    <!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
    <script src="assets/js/jquery.validate.min.js"></script>
</div>