﻿@model FurnitureForRent.Areas.Admin.Models.AdminProfileViewModel

@if (ViewBag.Message != null)
{
    <div class="alert alert-warning alert-dismissible fade in ui-draggable " role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>@ViewBag.Message</strong>
    </div>
}
<div class="wrapper">
    
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <!--
            Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
            Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        -->
        @Html.Partial("_Dashboard")
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">User Profile</a>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>

        <div class="content">
           
            <div class="container-fluid">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Edit Profile</h4>
                        </div>
                        
                        <div class="content">
                            @using (Html.BeginForm("AdminProfile", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.UserId, new { @class = "form-control " })
                                @Html.HiddenFor(model => model.EmailId, new { @class = "form-control " })
                                <div class="row">
                                    <div class="col-md-12 col-lg-offset-1">
                                        <div class="form-group col-md-6 label-floating">
                                            <label class="control-label">Full Name</label>
                                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control ", id = "fullname", @type = "text" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-lg-offset-1">
                                        <div class="form-group col-md-6  ">
                                            <label for="exampleInputEmail1">Email address: </label>
                                            @Html.DisplayFor(model => model.EmailId, new { @class = "form-control ", id = "emailId", @type = "email" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-lg-offset-1">
                                        <div class="form-group col-md-6 label-floating">
                                            <label class="control-label">Mobile</label>
                                            @Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-control ", id = "mobilenumber", @type = "phone" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-lg-offset-1 ">
                                        <div class="form-group col-md-6">
                                            @Html.ActionLink("Change Password", "ChangePassword", "Admin", new { @class = "  " })
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                                </div>
                                <div class="clearfix"></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>