﻿@model FurnitureForRent.Areas.Admin.Models.ChangePasswordViewModel
@if (ViewBag.Message != null)
{
    <div class="alert alert-warning alert-dismissible fade in " role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>@ViewBag.Message</strong>
    </div>
}
<div class="image-container set-full-height" style="background-image: url('/assets/img/wizard-city.jpg')">
    <!--   Big container   -->
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="card wizard-card" data-color="green" id="wizard">

                        <div class="wizard-header">
                            <h3 class="wizard-title">
                                Rent Furniture for a better LifeStyle!
                            </h3>
                            <h5>Glad that you came<i class="fa-smile-o"></i>.</h5>
                        </div>

                        <div class="wizard-navigation">
                            <ul>
                                <li><a data-toggle="tab" id="changePassword">Change Password</a></li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="tab-pane" id="signUp">
                                    <div class="row">

                                        <div class="col-sm-6">
                                            <div class="input-group  ">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-edit"></i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    @Html.Label("Old Password(required)", new { @class = "control-label" })
                                                    @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", id = "fullname", @type = "password", @name = "firstname" })
                                                    @Html.ValidationMessage("", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <div class="input-group  ">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-edit"></i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    @Html.Label("New Password(required)", new { @class = "control-label" })
                                                    @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", id = "password", @type = "password", @name = "password" })
                                                    @Html.ValidationMessage("", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="input-group ">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-edit"></i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    @Html.Label("Confirm Password(required)", new { @class = "control-label" })
                                                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", id = "mobileNumber", @type = "password", name = "mobile" })
                                                    @Html.ValidationMessage("", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='submit' class='btn  btn-fill btn-success  changePassword' name='changePassword' value='Change Password' />
                                    </div>
                                </div>}

                            <!-- end row -->
                            <!--  big container -->
                        </div>
                        <div class="footer">
                            <div class="container text-center">
                                Made with <i class="fa fa-heart heart"></i>
                            </div>
                        </div>
                    </div>

                    <!--   Core JS Files   -->
                    <script src="assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
                    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
                    <script src="assets/js/jquery.bootstrap.js" type="text/javascript"></script>
                    <!--  Plugin for the Wizard -->
                    <script src="assets/js/material-bootstrap-wizard.js"></script>
                    <!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
                    <script src="assets/js/jquery.validate.min.js"></script>
                </div>