﻿@model FurnitureForRent.Areas.Admin.Models.AddFurnitureViewModel
@if (ViewBag.Message != null)
{
    <div class="alert alert-warning alert-dismissible fade in " role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>@ViewBag.Message</strong>
    </div>
}

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <!--
            Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
            Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        -->
        @Html.Partial("_Dashboard")
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">User Profile</a>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>
        <!--   Big container   -->
        <div>
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <!--      Wizard container        -->
                            <div class="wizard-container">
                                <div class="card wizard-card" data-color="green" id="wizard">
                                    <div class="wizard-navigation">
                                        <ul>
                                            <li><a data-toggle="tab" id="register">Edit Furniture Details</a></li>
                                        </ul>
                                    </div>

                                    <div class="tab-content">
                                        @using (Html.BeginForm("UpdateFurniture", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(model => model.FurnitureId, new { @class = "form-control " })
                                            <div class="tab-pane" id="signUp">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="input-group  ">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                @Html.Label("FurnitureCode(required)", new { @class = "control-label" })
                                                                @Html.TextBoxFor(model => model.FurnitureCode, new { @class = "form-control ", id = "furnitureCode", @type = "text" })
                                                                @Html.ValidationMessage("", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="input-group  ">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-paste"></i>
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                @Html.Label("Category(required)", new { @class = "control-label" })
                                                                @Html.TextBoxFor(model => model.Category, new { @class = "form-control ", id = "furnitureCode", @type = "text" })
                                                                @Html.ValidationMessage("", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 ">
                                                        <div class="input-group ">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-mobile"></i>
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                @Html.Label("Color", new { @class = "control-label" })
                                                                @Html.TextBoxFor(model => model.Color, new { @class = "form-control ", id = "furnitureCode", @type = "text" })
                                                                @Html.ValidationMessage("", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="input-group ">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                @Html.Label("RefundableDeposit", new { @class = "control-label" })
                                                                @Html.TextBoxFor(model => model.RefundableDeposit, new { @class = "form-control ", id = "furnitureCode", @type = "text" })
                                                                @Html.ValidationMessage("", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 ">
                                                        <div class="input-group ">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-mobile"></i>
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                @Html.Label("Dimension", new { @class = "control-label" })
                                                                @Html.TextBoxFor(model => model.Dimension, new { @class = "form-control ", id = "furnitureCode", @type = "text" })
                                                                @Html.ValidationMessage("", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="input-group ">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                @Html.Label("Material", new { @class = "control-label" })
                                                                @Html.TextBoxFor(model => model.Material, new { @class = "form-control ", id = "furnitureCode", @type = "text" })
                                                                @Html.ValidationMessage("", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 ">
                                                        <div class="input-group ">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-mobile"></i>
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                @Html.Label("RentPerMonth", new { @class = "control-label" })
                                                                @Html.TextBoxFor(model => model.RentPerMonth, new { @class = "form-control ", id = "furnitureCode", @type = "text" })
                                                                @Html.ValidationMessage("", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="input-group ">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                @Html.Label("Specification", new { @class = "control-label" })
                                                                @Html.TextBoxFor(model => model.Specification, new { @class = "form-control ", id = "furnitureCode", @type = "text" })
                                                                @Html.ValidationMessage("", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="wizard-footer">
                                                <div class="pull-right">
                                                    <input type='submit' class='btn  btn-fill btn-success  changePassword' name='changePassword' value='Update Furniture' />
                                                </div>
                                            </div>}

                                        <!--  big container -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>