﻿@model IEnumerable<FurnitureForRent.Areas.Admin.Models.AllUsersViewModel>
@using MvcJqGrid

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        @Html.Partial("_Dashboard")
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">All Users</a>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5">

                        @if (Model.Count() > 0)
                        {
                            <div id="gridContent">
                                @{
                            var grid = new WebGrid(Model, canPage: true, rowsPerPage: 20,
                            selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContentInvoice");
                            grid.Pager(WebGridPagerModes.NextPrevious);
                                }
                                @grid.GetHtml(tableStyle: "webGrid",
            headerStyle: "header",
            htmlAttributes: new { id = "DataTable" },
            alternatingRowStyle: "alt",
            selectedRowStyle: "select", mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",
            columns: grid.Columns(
                      grid.Column("FullName", "Full Name"),
                      grid.Column("MobileNumber", "Mobile Number"),
                      grid.Column("EmailId", " Email Id"),
                      grid.Column("Status", " Status"),
                     grid.Column("Activate", format: (item) =>
                        {
                            var links = Html.ActionLink("Activate", "ActivateUser", "Admin", new { id = item.UserId }, null);
                            return Html.Raw(links.ToString());
                        }),
                        grid.Column("Deactivate", format: (item) =>
                        {
                            var links = Html.ActionLink("Deactivate", "DeactivateUser", "Admin", new { id = item.UserId }, null);
                            return Html.Raw(links.ToString());
                        }),
                         grid.Column("Activate", format: (item) =>
                         {
                             var links = Html.ActionLink("Update", "UpdateUser", "Admin", new { id = item.UserId }, null);
                             return Html.Raw(links.ToString());
                         })
                      ))
                            </div>
                        }
                        else
                        {
                            <div class="oaerror info">
                                <span> No data found.</span>
                                <div class="col-xs-3 text-right">
                                    <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>