﻿<div class="sidebar-wrapper">
    <ul class="nav">
        <li>
            @Html.ActionLink(" Orders and Payments", "OrdersAndPayments", "User", new { @class = " ti-panel dashboard" })
            <p></p>
        </li>
        <li class="active">
            @Html.ActionLink(" Your Profile", "UserProfile", "User", new { @class = " ti-user dashboard " })
        </li>
        <li class="active">
            @Html.ActionLink(" Your Cart", "FurnitureCart", "User", new { @class = " ti-user dashboard " })
        </li>
        <li>
            @Html.ActionLink("Address", "ShowAddress", "User", new { @class = " ti-view-list-alt dashboard" })
        </li>
    </ul>
</div>