﻿@model IEnumerable<FurnitureForRent.Areas.User.Models.OrderAndPaymentViewModel>

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        @Html.Partial("_Dashboard")
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Your Cart</a>
                </div>
            </div>
        </nav>

        <div class="content contact-form">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-lg-4 col-md-5">

                        @if (Model.Count() > 0)
                        {
                            <div id="gridContent">
                                @{
                            var grid = new WebGrid(Model, canPage: true, rowsPerPage: 20,
                            selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContentInvoice");
                            grid.Pager(WebGridPagerModes.NextPrevious);
                                }
                                @grid.GetHtml(tableStyle: "webGrid",
            headerStyle: "header",
            htmlAttributes: new { id = "DataTable" },
            alternatingRowStyle: "alt",
            selectedRowStyle: "select", mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",
            columns: grid.Columns(
                      grid.Column("FurnitureCode", "Furniture Name"),
                       grid.Column("Tenure", " Tenure"),
                        grid.Column("RentPerMonth", "Rent per month"),
                         grid.Column("RefundableDeposit", "Refundable Deposit"),
                        grid.Column("", format: @<form method="post">
                            <div class="form-group label-floating">
                                @Html.Label("Quantity", "Quantity", new { @class = "control-label " })
                                @Html.TextBox("Quantity", "", new { @class = "form-control " })
                            </div>
                            <div class="form-group label-floating">
                                @Html.Label("RentalDue", "Rental Due", new { @class = "control-label " })
                                @Html.TextBox("RentalDue", "", new { @class = "form-control " })
                            </div>
                            <div class="form-group label-floating">
                                @Html.Label("Adjustment", "Adjustment", new { @class = "control-label " })
                                @Html.TextBox("Adjustment", "", new { @class = "form-control " })
                            </div>

                            @Html.TextBox("AddressId", "AddressId")
                            <input type="hidden" value="@item.FurnitureId" name="furnitureId" />
                            <input type="hidden" value="@item.CartId" name="cartId" />
                            <input type="hidden" value="@item.Tenure" name="tenure" />
                            <input type="submit" value="Place Order" />
                        </form>)
))
                            </div>
                        }
                        else
                        {
                            <div class="oaerror info">
                                <span> No data found.</span>
                                <div class="col-xs-3 text-right">
                                    <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>