﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Furniture For Rent</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon.ico">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/material-bootstrap-wizard.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/assets/css/demo.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Furniture</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    @*<link href="assets/css/bootstrap.css" rel="stylesheet" />*@
    @*<link href="assets/css/gaia.css" rel="stylesheet" />*@
    <!--     Fonts and icons     -->
    <link href='https://fonts.googleapis.com/css?family=Cambo|Poppins:400,600' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/fonts/pe-icon-7-stroke.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
        <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
        <div class="container">
            <div class="navbar-header">
                <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class=" navbar-center navbar-uppercase">
                    @if (HttpContext.Current.Session["userId"] != null && HttpContext.Current.Session["userId"] != "")
                    {
                        <li class="col-md-3">
                            @Html.ActionLink("Home", "Index", "Home", new { @class = "btn btn-primary btn-info btn-sm ", id = "login" }, null)
                        </li>
                        if ((HttpContext.Current.Session["roleId"]).Equals(1))
                        {
                            <li class="col-md-3">
                               @Html.ActionLink("My Profile", "AdminProfile", "Admin", new { @class = "btn btn-primary btn-info btn-sm ", id = "login", Area = "Admin" }, null)
                            </li>
                        }
                        else
                        {
                            <li class="col-md-3">
                                @Html.ActionLink("My Profile", "UserProfile", "User", new { @class = "btn btn-primary btn-info btn-sm ", id = "login", Area = "User" }, null)                                
                            </li>
                        }
                        <li class="col-md-3">
                            <a href="/Home/SignOut">Sign Out</a>
                        </li>
                        <li class="col-md-3">
                            @Html.ActionLink("Furniture", "DisplayAllFurniture", "Home", new { @class = "btn btn-primary btn-info btn-sm ", id = "display-all-furniture" }, null)
                        </li>

                    }
                    else
                    {
                        <li class="col-md-3">
                            @Html.ActionLink("Home", "Index", "Home", new { @class = "btn btn-primary btn-info btn-sm see-availability fa fa-user", id = "login" }, null)
                        </li>
                        <li class="col-md-3">
                            @Html.ActionLink("Sign Up/Sign In", "SignUp", "Home", new { @class = "btn btn-primary btn-info btn-sm see-availability fa fa-user", id = "login" }, null)
                        </li>
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    @*<div class="navbar navbar-inverse navbar-fixed-top">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li><select style="background-color:transparent;">
                        <option>hello</option>
                        <option>bye</option>
                        </select></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>*@

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>